.section {
  padding: 100px 0;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-moz-selection {
  background-color: #d6b161;
  color: #fff;
}

::selection {
  background-color: #d6b161;
  color: #fff;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #323232;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
}

header {
  z-index: 99999;
  overflow: hidden;
  position: absolute;
  width: 100%;
}

header nav {
  padding: 0 38px !important;
}

header .nav-item {
  position: relative;
}

header .nav-item:hover .nav-link {
  color: #d6b161;
}

header .nav-item .nav-link {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  font-size: 13px;
  color: #fff;
  padding: 0 16px !important;
  line-height: 100px;
}

header .nav-item .nav-link.active {
  color: #d6b161;
}

header .nav-item .nav-link i {
  margin-right: 5px;
}

header .nav-item .nav-link span {
  margin-left: 2px;
}

header .nav-item .nav-link.line::after {
  content: "";
  display: block;
  height: 14px;
  width: 1.5px;
  background-color: #fff;
  position: absolute;
  right: 0;
  top: 42%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media screen and (max-width: 992px) {
  header .navbar {
    background-color: #0a0a0a;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
  header .navbar .navbar-toggler {
    outline: none;
    color: #fff;
  }
  header .navbar .navbar-brand img {
    width: 52px;
  }
  header .navbar .navbar-nav {
    background-color: #fff;
  }
  header .navbar .navbar-nav .nav-item .nav-link {
    line-height: 20px;
    padding: 12px 20px !important;
    color: #333;
    border-bottom: solid 1px #f0f0f0;
  }
  header .navbar .navbar-nav .nav-item .nav-link.active {
    color: #d6b161;
  }
  header .navbar .navbar-nav .nav-item .nav-link:hover {
    color: #d6b161;
  }
}

#headerFixed {
  background-color: #000;
  position: fixed;
  top: 0;
  width: 101%;
  -webkit-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
  z-index: 100;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  height: 60px;
}

#headerFixed .navbar-nav {
  margin-bottom: 46px;
}

#headerFixed .nav-link {
  line-height: 60px;
}

#headerFixed .navbar-brand img {
  width: 60px;
  margin-bottom: 46px;
}

@media screen and (max-width: 992px) {
  #headerFixed {
    display: none;
  }
}

footer {
  background: #222;
}

footer .footer__top .footer__firstColumn img {
  margin-bottom: 20px;
  cursor: pointer;
}

footer .footer__top .footer__firstColumn p {
  line-height: 30px;
  color: #7e7e7e;
  margin-bottom: 30px;
}

footer .footer__top .row .footer__colum h3 {
  letter-spacing: 1px;
  font-size: 14px;
  color: #fff;
  letter-spacing: 1px;
  margin-bottom: 30px;
}

footer .footer__top .row .footer__colum .footer__list li {
  list-style: none;
  color: #a2a2a2;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  line-height: 45px;
  cursor: pointer;
  border-bottom: 1px solid #333;
}

footer .footer__top .row .footer__colum .footer__list li i {
  padding-right: 15px;
}

footer .footer__top .row .footer__colum .footer__list li:hover {
  color: #d6b161;
}

footer .footer__top .row .footer__colum .footer__img img {
  width: 55px;
  height: 55px;
}

footer .footer__top .row .footer__colum .footer__img ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer__top .row .footer__colum .footer__img ul li {
  margin-right: 10px;
}

footer .footer__bottom {
  background-color: #1b1b1b;
  border-top: 1px solid #2c2c2c;
  padding: 35px 0;
}

footer .footer__bottom .footer__columsub p {
  color: #6f7273;
  margin-bottom: 0;
}

footer .footer__bottom .footer__columsub p span {
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

footer .footer__bottom .footer__columsub p span:hover {
  color: #d6b161;
}

footer .footer__bottom .footer__columsub .footer__icon {
  padding-left: 240px;
}

footer .footer__bottom .footer__columsub .footer__icon .footer__wrapperIcon {
  cursor: pointer;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 15px;
  border: 1px solid #5a5a5a;
  text-align: center;
  line-height: 35px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

footer .footer__bottom .footer__columsub .footer__icon .footer__wrapperIcon:hover {
  color: #fff;
  border: 1px solid transparent;
  background: #5a5a5a;
}

@media screen and (max-width: 992px) {
  footer .footer__bottom .footer__columsub .footer__icon {
    padding: 10px 0;
  }
  footer .footer__bottom .footer__columsub p {
    width: 70%;
  }
}

.slider {
  background: url("../../img/slider.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
}

.slider .slider__content {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.slider .slider__content h3 {
  color: #fff;
  font-size: 60px;
  font-weight: 300;
  letter-spacing: 5px;
  line-height: normal;
  margin-bottom: 10px;
}

.slider .slider__content p {
  color: #fff;
  font-size: 20px;
  font-weight: normal;
  letter-spacing: 6px;
}

@media screen and (max-width: 992px) {
  .slider .slider__content {
    width: 100%;
  }
  .slider .slider__content h3 {
    font-size: 30px;
    margin-bottom: 0;
  }
  .slider .slider__content p {
    font-size: 18px;
  }
}

.design .design__block .design__col {
  border: 1px solid #dee2e6;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.design .design__block .design__col:hover .design__wrapperIcon {
  background: #d6b161;
}

.design .design__block .design__col .design__wrapperIcon {
  position: absolute;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  top: -30px;
  left: 39px;
  width: 60px;
  height: 60px;
  background: #000;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 0 10px #fff;
          box-shadow: 0 0 0 10px #fff;
  text-align: center;
}

.design .design__block .design__col .design__wrapperIcon i {
  font-size: 30px;
  line-height: 60px;
  color: #fff;
}

.design .design__block .design__col .design__info {
  padding: 24px;
  margin-top: 30px;
}

.design .design__block .design__col .design__info h3 {
  color: #333;
  font-size: 18px;
  font-weight: normal;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.design .design__block .design__col .design__info p {
  color: #7e7e7e;
  font-size: 15px;
  font-weight: normal;
}

@media screen and (max-width: 992px) {
  .design .design__block .row {
    display: block;
  }
  .design .design__block .row .design__col {
    margin-bottom: 50px;
    border: none;
    padding: 30px;
  }
  .design .design__block .row .design__col .design__wrapperIcon {
    top: 14px;
    left: 62px;
  }
}

@media screen and (max-width: 992px) {
  .design .design__block .row {
    display: block;
  }
  .design .design__block .row .design__col {
    margin-bottom: 0px;
    border: none;
  }
  .design .design__block .row .design__col .design__info {
    border: 1px solid #dee2e6;
  }
}

.skill {
  background: url("../../img/banner.jpg");
  height: 600px;
  width: 100%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 50%;
  background-size: cover;
}

.skill .skill__content {
  height: 100%;
}

.skill .skill__content .row {
  height: 100%;
}

.skill .skill__content .row .skill__col {
  height: 100%;
  position: relative;
}

.skill .skill__content .row .skill__col h3 {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  letter-spacing: 6px;
  color: #fff;
  font-size: 24px;
  font-weight: normal;
}

.skill .skill__content .row .skill__column {
  height: 100%;
  position: relative;
}

.skill .skill__content .row .skill__column .overlay {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.skill .skill__content .row .skill__column .skill__progres {
  position: absolute;
  z-index: 3;
  top: 312px;
  padding: 0 60px;
}

.skill .skill__content .row .skill__column .skill__progres span {
  color: #222;
  background-color: #a4a4a4;
  height: 20px;
  width: 25px;
  border-radius: 30px;
  font-size: 10px;
  padding: 4px 9px;
  position: absolute;
  right: 0;
  text-align: center;
}

.skill .skill__content .row .skill__column .skill__progres .progress {
  width: 480px;
  border-radius: 0;
  background-color: #606060;
  position: relative;
}

.skill .skill__content .row .skill__column .skill__progres .progress .progress-bar {
  background-color: #fff;
  color: #222;
  font-size: 12px;
}

.skill .skill__content .row .skill__column .skill__info {
  padding: 100px 60px;
  position: absolute;
  z-index: 10;
}

.skill .skill__content .row .skill__column .skill__info h3 {
  color: #fff;
  font-size: 18px;
  font-weight: normal;
  letter-spacing: 2px;
  margin-bottom: 30px;
}

.skill .skill__content .row .skill__column .skill__info p {
  color: #fff;
  font-size: 15px;
  font-weight: normal;
  line-height: 30px;
  margin-bottom: 30px;
}

@media screen and (max-width: 576px) {
  .skill .skill__col h3 {
    font-size: 18px !important;
  }
}

.showcase .nav-tabs {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
}

.showcase .nav-tabs .nav-link.active,
.showcase .nav-tabs .nav-link:hover {
  border: 1px solid transparent;
}

.showcase .nav-tabs .nav-link.active {
  color: #222;
}

.showcase .nav-tabs .nav-link {
  color: #a9a8a8;
  margin: 0 15px;
  padding: 0;
  font-size: 14px;
  letter-spacing: 3px;
}

.showcase .showcase__portfolio {
  margin-top: 50px;
}

.showcase .showcase__portfolio .showcase__obtain {
  padding: 0;
}

.showcase .showcase__portfolio .showcase__obtain:hover .showcase__info {
  display: block;
}

.showcase .showcase__portfolio .showcase__obtain img {
  position: relative;
}

.showcase .showcase__portfolio .showcase__obtain .showcase__info {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 50px;
  text-align: center;
  border: 20px solid rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: none;
}

.showcase .showcase__portfolio .showcase__obtain .showcase__info i {
  color: #222;
  font-size: 35px;
  margin-bottom: 30px;
  cursor: pointer;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

.showcase .showcase__portfolio .showcase__obtain .showcase__info h3 {
  color: #222;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 4px;
  margin-bottom: 15px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

.showcase .showcase__portfolio .showcase__obtain .showcase__info h3:hover {
  color: #d6b161;
}

.showcase .showcase__portfolio .showcase__obtain .showcase__info p {
  color: #757575;
  font-size: 12px;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 3px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 102%;
  cursor: pointer;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

.showcase .showcase__portfolio .showcase__obtain .showcase__info p:hover {
  color: #d6b161;
}

@media screen and (max-width: 576px) {
  .showcase .nav-tabs .nav-link {
    padding: 0 3px;
  }
}

.team .team__wrapper .team__content {
  padding: 0 30px;
}

.team .team__wrapper .team__content:hover .team__overlay {
  display: block;
}

.team .team__wrapper .team__content img {
  position: relative;
  width: 109%;
  height: 440px;
}

.team .team__wrapper .team__content .team__info {
  position: absolute;
  right: 2px;
  bottom: 30px;
  width: 60%;
  text-align: right;
  background: rgba(0, 0, 0, 0.7);
  padding: 10px;
}

.team .team__wrapper .team__content .team__info h3 {
  margin-bottom: 0;
  color: #fff;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 2px;
  margin-bottom: 2px;
}

.team .team__wrapper .team__content .team__info p {
  margin-bottom: 0;
  letter-spacing: 2px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
  font-weight: normal;
}

.team .team__wrapper .team__content .team__overlay {
  position: absolute;
  padding: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  top: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.9);
  border: 20px solid rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: none;
  -webkit-transition: all 0.05s;
  transition: all 0.05s;
}

.team .team__wrapper .team__content .team__overlay h3 {
  letter-spacing: 4px;
  margin-bottom: 25px;
  color: #222;
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  margin-top: 20px;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
}

.team .team__wrapper .team__content .team__overlay p {
  color: #7e7e7e;
  font-size: 14px;
  font-weight: normal;
  line-height: 30px;
  text-align: center;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
}

.team .team__wrapper .team__content .team__overlay .team__socials {
  text-align: center;
  margin-top: 120px;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
}

.team .team__wrapper .team__content .team__overlay .team__socials i:hover {
  color: #d6b161;
}

.team .team__wrapper .team__content .team__overlay .team__socials i {
  margin: 0 10px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.team .team__wrapper .team__bg {
  background-color: #f5f5f5;
  margin: 100px 15px 0;
  width: 100%;
  padding: 20px;
}

.team .team__wrapper .team__bg .team__bonus-wrapper .team__bonus {
  padding: 18px;
}

.team .team__wrapper .team__bg .team__bonus-wrapper .team__bonus h3 {
  color: #333;
  font-size: 18px;
  font-weight: normal;
  letter-spacing: 1px;
  margin-bottom: 0;
}

.team .team__wrapper .team__bg .team__bonus-wrapper .team__bonus h3 span {
  color: #d6b161;
}

.team .team__wrapper .team__bg .team__bonus-wrapper .team__bonus p {
  margin-top: 10px;
  color: #7e7e7e;
  margin-bottom: 0;
}

.team .team__wrapper .team__bg .button-style {
  padding: 20px;
}

.team .team__wrapper .team__bg .button-style button {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.team .team__wrapper .team__bg .button-style button:hover {
  background-color: #d6b161;
  border-color: #d6b161;
  color: #fff;
}

@media screen and (max-width: 992px) {
  .team .team__overlay {
    width: 92%;
  }
  .team .team__wrapper .team__content img {
    width: 100%;
    height: 620px;
  }
  .team .team__wrapper .team__content .team__info {
    right: 29px;
  }
  .team .team__wrapper .team__content .team__overlay {
    padding: 150px;
  }
  .team .team__wrapper .team__content .team__overlay .team__socials {
    margin-top: 200px;
  }
  .team .team__wrapper .team__bg .btn--edit {
    padding: 0 33px;
  }
}

@media screen and (max-width: 576px) {
  .team .team__wrapper .team__content img {
    height: 520px;
  }
  .team .team__wrapper .team__content .team__overlay {
    padding: 10px;
    width: 338px;
  }
  .team .team__wrapper .team__bg .btn--edit {
    padding: 0 33px;
  }
}

.contact {
  background-image: url("../../img/bn.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 50%;
  background-size: cover;
  height: 480px;
  position: relative;
}

.contact .contact__content {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.contact .contact__content h3 {
  color: #d6b161;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 3px;
  margin-bottom: 0;
}

.contact .contact__content p {
  color: #fff;
  font-size: 36px;
  font-weight: normal;
  letter-spacing: 2px;
}

.contact .contact__content button {
  margin-top: 30px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.contact .contact__content button:hover {
  background-color: #fff;
  color: #000;
}

@media screen and (min-width: 1200px) {
  .contact .contact__content p {
    width: 102%;
  }
}

@media screen and (max-width: 992px) {
  .contact .contact__content {
    width: 66%;
  }
  .contact .contact__content p {
    font-size: 26px;
  }
}

@media screen and (max-width: 576px) {
  .contact .contact__content {
    width: 100%;
  }
}

.blog .blog__contain .blog__contain-text {
  padding: 30px;
}

.blog .blog__contain .blog__contain-text ul {
  cursor: pointer;
  margin-bottom: 10px;
}

.blog .blog__contain .blog__contain-text ul li:hover {
  color: #d6b161;
}

.blog .blog__contain .blog__contain-text ul li {
  list-style: none;
  margin-right: 10px;
  color: #909090;
  font-size: 12px;
  font-weight: normal;
  letter-spacing: 1px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.blog .blog__contain .blog__contain-text h3 {
  color: #222;
  font-size: 17px;
  font-weight: normal;
  letter-spacing: 1px;
  margin-bottom: 10px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.blog .blog__contain .blog__contain-text h3:hover {
  color: #d6b161;
}

.blog .blog__contain .blog__contain-text h4 {
  color: #909090;
  font-size: 12px;
  font-weight: normal;
  letter-spacing: 2px;
  margin-bottom: 25px;
}

.blog .blog__contain .blog__contain-text h4 span {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.blog .blog__contain .blog__contain-text h4 span:hover {
  color: #d6b161;
}

.blog .blog__contain .blog__contain-text p {
  color: #7e7e7e;
  font-size: 15px;
  font-weight: normal;
  line-height: 30px;
  margin-bottom: 30px;
}

.blog .blog__contain .blog__contain-text h5 {
  color: #bbb;
  font-size: 15px;
  font-weight: normal;
  letter-spacing: 1px;
  cursor: pointer;
  display: inline-block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.blog .blog__contain .blog__contain-text h5:hover {
  color: #000;
}

.blog .blog__contain .blog__contain-text h5 i {
  margin-left: 7px;
}

.blog .blog__contain-img img {
  position: relative;
}

.blog .blog__contain-img .blog__contain--content h3 {
  position: absolute;
  bottom: 0;
  text-align: left;
  color: #fff;
  font-size: 15px;
  font-weight: normal;
  margin-bottom: 0;
  left: 15px;
  right: 0;
  padding: 12px 14px;
  background-color: rgba(0, 0, 0, 0.5);
  width: calc(92% + 2px);
}

@media screen and (max-width: 992px) {
  .blog .blog__contain-img img {
    width: calc(96% + 2px);
  }
  .blog .blog__contain .blog__contain-text {
    padding: 30px 15px;
  }
}

@media screen and (max-width: 576px) {
  .blog .blog__contain-img img {
    width: 100%;
  }
}

.categories {
  background-image: url("../../img/categoris.png");
  width: 100%;
}

.categories .nav-tabs .nav-link.active {
  background-color: #fff;
}

.categories .nav .nav-item {
  margin: 0 10px;
}

.categories .nav .nav-item .nav-link {
  padding: 35px 70px;
  background-color: rgba(34, 34, 34, 0.05);
  border-radius: 0;
  position: relative;
  border: none;
  -webkit-transition: 0.01s;
  transition: 0.01s;
}

.categories .nav .nav-item .nav-link.active {
  background-color: #fff !important;
}

.categories .nav .nav-item .nav-link.active::after {
  display: block;
}

.categories .nav .nav-item .nav-link:hover::after {
  display: block;
}

.categories .nav .nav-item .nav-link:hover {
  background-color: #fff;
}

.categories .nav .nav-item .nav-link::after {
  content: "";
  display: block;
  position: absolute;
  border-width: 10px 10px 0 10px;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
  background-color: transparent;
  bottom: -10px;
  display: none;
}

.categories .nav .nav-item .nav-link i {
  font-size: 36px;
  color: #434343;
}

.categories .tab-content .categories__tab {
  padding: 38px 10px;
}

.categories .tab-content .categories__tab .categories__tab-text {
  margin-bottom: 50px;
}

.categories .tab-content .categories__tab h4 {
  color: #7e7e7e;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 2px;
}

.categories .tab-content .categories__tab h3 {
  color: #333;
  font-size: 30px;
  font-weight: normal;
  letter-spacing: 2px;
}

.categories .tab-content .categories__tab p {
  line-height: 30px;
}

@media screen and (max-width: 992px) {
  .categories .tab-content .categories__tab h3 {
    font-size: 20px;
  }
}

@media screen and (max-width: 576px) {
  .categories .nav .nav-item {
    width: 100%;
    text-align: center;
    margin-bottom: 14px;
  }
  .categories .nav .nav-item .nav-link::after {
    left: 47%;
  }
  .categories .tab-content .categories__tab h3 {
    font-size: 20px;
  }
}

.info {
  background-color: #1b1b1b;
  text-align: center;
  color: #fff;
  font-size: 36px;
}

.info .info__contain .info__column .info__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.info .info__contain .info__column .info__content p {
  margin-bottom: 0;
  letter-spacing: 2px;
  font-size: 36px;
}

.info .info__contain .info__column .info__content i {
  padding-right: 10px;
}

.info .info__contain h3 {
  margin-bottom: 0;
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 1px;
}

@media screen and (max-width: 992px) {
  .info .info__contain .info__column {
    margin-bottom: 12px;
  }
  .info .info__contain .info__column .info__content p {
    font-size: 26px;
  }
}

@media screen and (max-width: 576px) {
  .info .info__contain .info__column {
    margin-bottom: 0;
    padding: 30px 0;
  }
}

.carouselMassive {
  text-align: center;
}

.carouselMassive .owl-carousel .item .carouselMassive__content img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.carouselMassive .owl-carousel .item .carouselMassive__content p {
  width: 52%;
  margin: 0 auto;
  color: #7e7e7e;
  font-size: 16px;
  font-weight: normal;
  font-style: italic;
  line-height: 30px;
  margin-bottom: 30px;
}

.carouselMassive .owl-carousel .item .carouselMassive__content h3 {
  color: #222;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 6px;
}

.carouselMassive .owl-carousel .item .carouselMassive__content h4 {
  color: #7f7f7f;
  font-size: 12px;
  font-weight: normal;
  letter-spacing: 2px;
}

hr {
  margin-top: 0;
  margin-bottom: 0;
  border: 0;
  border-top: 1px solid #eee;
}

.text__content {
  text-align: center;
  margin-bottom: 80px;
}

.text__content h3 {
  letter-spacing: 2px;
  color: #333;
  font-size: 24px;
  font-weight: normal;
}

.text__content h3.line::after {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  background-color: #595959;
  margin: 16px auto;
}

.text__content p {
  color: #7e7e7e;
  font-size: 15px;
  font-weight: 400;
  width: 50%;
  margin: 0 auto;
  line-height: 25px;
}

@media screen and (max-width: 992px) {
  .text__content h3 {
    font-size: 18px;
  }
  .text__content p {
    width: 57%;
  }
}

.btn--black {
  color: #fff;
  background-color: #222;
  border: 1px solid #222;
  font-size: 14px;
  font-weight: normal;
  padding: 15px 15px;
  cursor: pointer;
  border-radius: 0;
}

.btn--yellow {
  color: #fff;
  background-color: #d6b161;
  border: 1px solid transparent;
  font-size: 14px;
  font-weight: normal;
  padding: 15px 38px;
  cursor: pointer;
  border-radius: 0;
}
/*# sourceMappingURL=main.css.map */